<div class="qrcodeImage">
    <qrcode
      [qrdata]="'https://github.com/Cordobo/angularx-qrcode'"
      [allowEmptyString]="true"
      [ariaLabel]="'QR Code image with the following content...'"
      [cssClass]="'center'"
      [colorDark]="'#000000ff'"
      [colorLight]="'#ffffffff'"
      [elementType]="'canvas'"
      [errorCorrectionLevel]="'M'"
      [imageSrc]="'./assets/angular-logo.png'"
      [imageHeight]="60"
      [imageWidth]="60"
      
      [margin]="0"
      [scale]="0"
      [title]="'A custom title attribute'"
      [width]="60"
    
    ></qrcode>
  </div>